.addServicio {
  background-color: #fefefe;
  padding: 1em;
  border-radius: 10px;
  .header {
    h3 {
      margin: 0;
    }
  }
  .caseWO {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }
  .actividad {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1em;
    .actividadSel {
      margin: auto 0;
    }
  }
  .times {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }
  .preview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    text-align: center;
  }
  .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align-last: center;
    margin: 1em 0;
    justify-items: center;
    span {
      color: white;
    }
  }
}
