@import "../../index.scss";

.historial {
  text-align: center;
  width: 100%;
  .periodos {
    padding-bottom: 3em;
    .details {
      padding: 0;
    }
  }
}

.periodoHis {
  font-size: 12px;
  width: 100%;
  .exportar {
    position: absolute;
    top: 12px;
    right: 0;
  }
  .gridHead {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr 1fr 1fr;
    grid-gap: 5px;
    color: dimgray;
    padding: 0 5px;
  }
  ul {
    margin: 0 0 1em 0;
    padding: 0;
    overflow-y: scroll;
    width: 100%;
    :nth-child(1) {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
    :last-child {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    li {
      list-style: none;
      padding: 5px;
      margin: 2px;
      .gridBody {
        text-decoration: none;
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 1fr 1fr 1fr;
        grid-gap: 5px;
        color: gray;
        justify-items: center;
        align-items: center;
        button {
          min-width: 0;
          padding: 6px;
        }
      }
    }
    li:hover {
      // background-color: #964bf9;
      background-color: $secondary;
      * {
        color: white;
      }
    }
    .odd {
      background-color: white;
    }
    .even {
      background-color: ghostwhite;
    }
  }
}

.oculto {
  display: none;
}
@media only screen and (orientation: landscape) {
  .oculto {
    display: block;
  }
  .gridBody,
  .gridHead {
    grid-gap: 3px;
    grid-template-columns: 2fr 3fr 3fr 3fr 5fr 5fr 2fr 2fr 2fr 2fr !important;
    h3 {
      font-size: 12px;
    }
  }
}
