@font-face {
  font-family: inspira;
  src: local("inspira"), url("../src/assets/Inspira.ttf");
}
body {
  margin: 0;
  padding: 0;
  background: white;
}
* {
  font-family: "inspira", sans-serif;
}
/* Colors for theme */
// $primary: #46d0f7;
$primary: #57acf1;
$secondary: #3a5f81;

:export {
  primary: $primary;
  secondary: $secondary;
}
